<launch>
  <node pkg="pimouse_slam" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />
  <node pkg="pimouse_slam" name="motors" type="b.py" required="true" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
    <param name="ip_address" value="192.168.0.123"/>
    <param name="frame_id" value="base_laser" />
  </node>
</launch>
